{% extends 'base.html' %}
{% block content %}
<br><br><br>
<div class="p-3 mb-2 bg-secondary text-white">My Personal Portfolio</div>
<br>
<br>
<br>
{% load static %}
<img src="{% static 'portfolio/pro.jpg' %}" height="300" width="500">
<br>
<br><br>
<b>My name is Hamed Teymouri </b><br>
<h5>This was my first django project</h5><br><br><br>

<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.link %}
    <a href="{{ project.link }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3>{{ project.title }}</h3>
    <p>{{ project.discription|safe|truncatechars:300 }}</p><a href="{% url 'portfolio:detail' project.id %}">read more</a>

  </div>
  {% endfor %}
</div>
<br>
<br>
<br>
<a class="btn btn-dark btn-lg" href="{% url 'blog:blog' %}" role="button">Visit My Blog</a>
<br><br><br>
{% endblock %}
